<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand"
           routerLink="/" routerLinkOptions="{exact: true}">Главная</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
             id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Категории
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a *ngFor="let cat of categories"
                               class="dropdown-item"
                               routerLink="/category/{{cat}}">{{cat}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <button class="btn"
                (click)="open(mymodal)"
                [ngClass]="getNumberOfProductsInCard()>0 ?
                'btn-success': 'btn-secondary'">
            <h4>Товаров в корзине - {{getNumberOfProductsInCard()}}</h4>
            <h5>На сумму: {{getCardAmount() | number: '1.2'}}</h5>
        </button>
    </div>
</nav>

<ng-template #mymodal
             let-modal>
    <div class="modal-header">
        <h4 class="modal-title"
            id="modal-basic-title">Корзина</h4>
        <button type="button"
                class="btn btn-danger close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')">X
        </button>
    </div>
    <div class="modal-body">
        <ul *ngFor="let product of productCard"
            class="list-group">
            <h3>
                <li class="list-group-item d-flex align-items-center  justify-content-between">
                    {{product.product.title}}
                    <span>{{product.quantity}} шт.</span>
                    <span>
                        <span class="badge bg-primary">
                            {{product.product.price}}
                        </span>
                    </span>
                </li>
            </h3>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-outline-dark"
                (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>
